html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
  flex: 1 0 auto;
}

#react {
    height: 100%;
}

#react > div {
    height: 100%;
}

.header {
    padding: 0 120px;
}

ul.header-items {
    padding-left: 120px;
}

.header-child {
    font-size: 16px;
}

.body {
    height: calc(100% - 88px);
}